html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
}



.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #3498db;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  color: #3498db;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #3498db;
  border-radius: 5px;
}

button {
  padding: 12px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

button:hover {
  background-color: #217dbb;
}

.message {
  margin-top: 20px;
  color: #e74c3c;
  font-weight: bold;
}
